.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1150px;
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
}
